@page
@model IndexModel
@{
    ViewData["Title"] = "DevOps Training";
}

<div class="text-center">
    <h1 class="display-4">.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
